<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Read the latest {{ .Title }} chapters on Solo Manga!
    </title>
    <meta name="Description" content="{{.Params.description}}">
    <script defer src="{{.Site.BaseURL}}js/ql.js"></script>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/build/bootstrap.min.css">
    {{ partial "style.html" . }}

  </head>
  <style>
    img {
      width: 100%;
    }
  </style>
  <body>
      {{ partial "nav.html" . }}
      <div style="margin-left: 20px; margin-right: 20px; overflow: auto;">
        {{ .Content }}
        {{ range .Pages.Reverse }}
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <a href="{{.Permalink}}" aria-label="{{.Title}}">{{.Title}}</a> 
            </div>
        </div>
        {{ end }}
      </div>
      <script>
          window.addEventListener('load', () =>{
              quicklink();
          });
      </script>
  </body>
</html>