{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "description" }}
<meta name="Description" content="{{.Params.description}}">
{{ partial "style.html" . }}
<link rel="stylesheet" href="{{.Site.BaseURL}}css/build/bootstrap.min.css">
<script src="{{.Site.BaseURL}}js/yall.js"></script>
{{ end }}
{{ define "main" }}

    <style>
        #navbar {
            background-color: #343a40; /* Black background color */
            position: fixed; /* Make it stick/fixed */
            top: 0; /* Stay on top */
            width: 100%; /* Full width */
            text-align: center;
            transition: top 0.3s; /* Transition effect when sliding down (and up) */
        }
            
            /* Style the navbar links */
        #navbar a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 15px;
            text-decoration: none;
        }
            
        #navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
            
        .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        }
        img {
            height: 100%;
            width: 720px;
            margin-bottom: 20px;
            border: 3px solid black;
        }
        @media only screen and (max-width: 400px) {
            img {
                width: 100vw;
            }
        }
    </style>
    <div id="navbar">
        <a href="/">Home</a>
        <a href="../">Chapters</a>
        <a href="{{.Site.BaseURL}}{{.Params.previous}}">Previous</a>
        <a href="{{.Site.BaseURL}}{{.Params.next}}">Next</a>
    </div>
    <div style="text-align: center; margin-top: 70px;">
        <h1>{{ .Title }}</h1>
        {{/*  {{ range $i, $sequence :=  (seq .Params.range) }}  */}}
        {{ range $i, $sequence := (seq .Params.range) }}
            <img 
            class="lazy fadeIn" 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
            data-src="img/{{ $i }}.webp" 
            alt="Alternative text to describe image."
            onerror="this.style.display='none'">
        <br>
        {{ end }}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", yall);
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-70px";
            }
            prevScrollpos = currentScrollPos;
        }
        window.addEventListener('load', () =>{
            quicklink({
                urls: [
                    "{{.Site.BaseURL}}{{.Params.previous}}",
                    "{{.Site.BaseURL}}{{.Params.next}}",
                    "{{.Site.BaseURL}}{{.Params.previous}}/img/1.webp",
                    "{{.Site.BaseURL}}{{.Params.next}}/img/1.webp"
                ]
            });
        });
    </script>

{{ end }}
