{{ define "header" }}
<meta name="Description" content="Read latest mangas and manwhas online for free. Fast and no ads. High quality manga and manwha
panels. Read manga and manwha, the way it is meant to be read! 
">
{{ range .Pages }}
<meta name="description" content="{{.Title}}">
{{ end }}
<script defer src="js/ql.js"></script>
<script defer src="js/yall.js"></script>
<script defer src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<link rel="stylesheet" href="css/build/bootstrap.min.css">
{{ partial "style.html" . }}
{{ end }}

{{ define "main" }}
{{ partial "nav.html" . }}
<main>
    <div class="container animated animatedFadeInUp fadeInUp" style="text-align: center;">
        {{ range .Pages }}
        {{ range .Pages.Reverse }}
        <div class="item">
            <img class="lazy" style="
                            width: 300px; 
                            height: 443px; 
                            border-radius: 5px;
                            box-shadow: 10px 10px 8px -10px rgba(96, 226, 222, 0.75);
                            "
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                data-src="img/{{.Params.thumbnail}}" alt="{{.Params.title}}">
            <br>
            <a href="{{.Params.latestURL}}">
                <button class="btn-hover color-1">
                    {{ upper .Params.latest}}
                </button>
            </a>
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{ partial "prefetch.html" . }}
</main>
{{ end }}